@font-face {
  font-family: 'Harry Potter Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Harry Potter Regular'), url('HARRP___.woff') format('woff');
}

* {
  color: #CCCCCC;
}
body {
  background-color: #909497;
  width: 100vw;

  
}
body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    display: inline;
    scroll-behavior: smooth;
    background-color: #909497;

    
  }

.home {
    height: 100vh;
    margin: 0;
    display: flex;
    font-family: 'Harry Potter Regular';
}



.carousel-container{
  display: inline;
  width: 100%;
  height: 100%;
  margin: 0;
}

.container1{
  position: absolute;
  top: 40%;
  left: 28%;
  transform: translate(-50%, -50%);
  color: white;

}




.texth1{

    color: #fff;
    font-size: 60px;
}



.buttonText{
  width: 50px;
  height: 50px;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: auto;
  padding-top: 100px;
  cursor: pointer;



}

.social {
 display: inline;
 position: absolute;
  top: -45%;
  left: 200%;
}

.social2 {
  display: inline;
  position: absolute;
   top: -45%;
   left: 290%;
 }

.twitter_icon {
  display: flex;
  margin: -56px 70px 0;
  float: right;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 1;
}
.twitter_icon:hover{
  background-color: #1da1f2;
}

.facebook_icon {
  display: flex;
  margin: -56px 8px 0;
  float: right;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 1;
}

.facebook_icon:hover {
  background-color: #4267b2;

}

.instagram_icon {
  display: flex;
  margin: -54px -50px 0;
  float: right;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 1;
}

.instagram_icon:hover {
  background-color: #fe4079;

}

/*Page 2 */
.formulaire {
  background-color: black;
  height: 100vh;
  display:flex;

}

.formMain {
  background-color: #909497;
  color: black;
  font-family: 'Harry Potter Regular';
  position: absolute;
  width:fit-content;
  height:fit-content;
  display:inline-block;

}

.formHeaderBox {
  background-color: inherit;
  height: 100%;
  width: 100%;
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.formHeaderText {
  background-color: inherit;
  text-align: center;
  height: 100%;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.formFillBox {
  background-color: inherit;
  font-size: 15px;
  font-weight: bold;
  height: 100%;
  width: 100%;
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.formFillBoxleft {
  background-color: inherit;
  text-align: center;
  height: 100%;
  width: 100%;

}

.formFillBoxright {
  background-color: inherit;
  text-align: center;
  height: 100%;
  width: 100%;

}

input[type=submit] {
    padding:15px 30px;
    border: none;
    border-radius: 50px;
    background-color: #800020;
    color: white;
    font-size: 20px;
}

input[type=text] {
  width: 400px;
  height: 35px;
  border: none;
  border-radius: 20px;
}

select {
  width: 25px;
  padding: 5px 50px 5px 5px;
  font-size: 15px;
  border: none;
}

/*Page 3*/

#CV{

	position: relative;
  width:fit-content;
  height:fit-content;
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  background-color: #909497;

}

#CV-box {
  height: 1100px;
  width: 1300px;
  margin: auto;
  position: relative;
  display: flex;
  background-color: #909497;
}

#toolbar, #sections {
  background-color: #441212;
  height: 100%;
  transform: scaleY(0.925);
}

/*Divs de la barre d'outils*/
#toolbar {
  width: 5%;
  box-shadow: rgba(212, 175, 55, 0.4) -5px 5px,
    rgba(212, 175, 55, 0.3) -10px 10px,
    rgba(212, 175, 55, 0.2) -15px 15px,
    rgba(212, 175, 55, 0.1) -20px 20px,
    rgba(212, 175, 55, 0.05) -25px 25px;
  position: relative;
}

#lightning-icon {
  background-color: #820000;
  width: 100%;
  height: 65px;
  position: relative;
}

#icons-bar {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 50%;
  margin-top: -150px;
}

.icon-slot {
  width: 100%;
  height: 25%;
  position: relative;
}

.icon {
  fill: rgb(212, 175, 55);
  transform: scale(2);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.5em 0 0 -0.5em;
}

.icon:hover {
  fill: #CCCCCC;
  cursor: pointer;
  transform: scale(2.25);
}

/*Divs de la photo de profil */
#profile {
  background-color: #000000;
  width: 35%;
  height: 100%;
  box-shadow: rgba(212, 175, 55, 0.4) -5px 5px,
    rgba(212, 175, 55, 0.3) -10px 10px,
    rgba(212, 175, 55, 0.2) -15px 15px,
    rgba(212, 175, 55, 0.1) -20px 20px,
    rgba(212, 175, 55, 0.05) -25px 25px,
    rgba(212, 175, 55, 0.4) 5px 5px,
    rgba(212, 175, 55, 0.3) 10px 10px,
    rgba(212, 175, 55, 0.2) 15px 15px,
    rgba(212, 175, 55, 0.1) 20px 20px,
    rgba(212, 175, 55, 0.05) 25px 25px;
}

#profile-picture {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 35%;
}

#picture-description {
  width: 100%;
  top: 77.5%;
  position: relative;
  text-align: center;
  display: block;
}

#character-name {
  color: white;
  font-family: 'Harry Potter Regular';
  margin-bottom: 25px;
}

#character-title {
  color: rgb(212, 175, 55);
  font-family: 'Harry Potter Regular';
  margin-bottom: 25px;
}

#social-media-icons-bar {
  height: auto;
  width: 35%;
  display: flex;
  margin: 0 auto;
}

.social-icon-slot {
  width: 25%;
  height: 30px;
  position: relative;
}

.social-icon {
  fill: white;
  transform: scale(1.25);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.5em 0 0 -0.5em;
}

.social-icon:hover {
  fill: rgb(212, 175, 55);
  cursor: pointer;
}

/*Div de la section de texte*/
#sections {
  width: 60%;
  padding-left: 2vw;
  padding-right: 2vw;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: Papyrus;
  box-shadow: rgba(212, 175, 55, 0.4) 5px 5px,
    rgba(212, 175, 55, 0.3) 10px 10px,
    rgba(212, 175, 55, 0.2) 15px 15px,
    rgba(212, 175, 55, 0.1) 20px 20px,
    rgba(212, 175, 55, 0.05) 25px 25px;
}

#sections h1 {
  font-family: 'Harry Potter Regular';
}

#education-text h3, #education-text h5 {
  font-weight: bolder;
}

#experience-text h3, #experience-text h5 {
  font-weight: bolder;
}

hr {
  background-color: gold;
}

hr.title-underline {
  border: 1px solid rgb(212, 175, 55);
  width: 40%;
  margin-left: 0;
  margin-bottom: 2vw;
}

.section-title h1 {
  padding-top: 2vw;
}

.list-group-item {
  background-color: inherit;
  width: 55%;
  padding-left: 0;
  border-left: 0;
  border-right: 0;
  border-color: #350000;
}

.col {
  padding-bottom: 3vw;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#education-text {
  text-align: center;
}

.img-ed {
  position: relative;
  max-width: 100%;
  height: auto;
  border: 10px ridge #654321;
}

.headline {
  display: flex;
}

.headline svg {
  width: auto;
}

.headline h5 {
  text-align: right;
  margin-left: auto;
  width: 75%;
}

.text-icon {
  fill: #CCCCCC;
  transform: scale(2);
  position: relative;
  left: 10px;
  margin-bottom: 1vw;
}

.list-group-item.exp {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
}

#varia-text {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 25px;
  font-weight: bolder;
}

.card-img-top {
  width: 100%;
}

.card {
  border: none;
  height: 100%;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.card-body:nth-child(even) {
  background-color: rgb(212, 175, 55);
  color: #FFFFFF;
}

.card-body:nth-child(odd) {
  background-color: #820000;
}

.card-text:nth-child(even) {
  color: #FFFFFF;
}

@media screen and (max-width: 1300px) {
  #CV-box {
    width: 1100px;
  }

  #toolbar {
    width: 5%;
  }

  #social-media-icons-bar {
    width: 45%;
  }
}

@media screen and (max-width: 1100px) {
  #CV-box {
    width: 900px;
  }

  #toolbar {
    width: 6.5%;
  }

  #social-media-icons-bar {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  #CV-box {
    width: 90%;
  }

  #toolbar {
    width: 7.5%;
    border: 0.5px;
    border-style: none solid none none;
    border-color: rgb(212, 175, 55);
  }

  #profile {
    display: none;
  }

  #sections {
    width: 92.5%;
  }
}